<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Productivity Enhancing Task Manager</title>
  </head>
  <body>
    <div class="main">
      <div class="welcoming">
        <h1 id="wel">Welcome to ListLoom  Your Ultimate Todo List Companion!</h1>
        <p id="paraghraph">We&apos;re thrilled to have you here. Whether you&apos;re a busy professional, a dedicated student, or simply someone who loves staying organized, you&apos;ve come to the right place. Our platform is designed to make your life simpler, more productive, and well-organized.</p>
      </div>
      <div class="todo_list">
        <h1>to do List</h1>
        <form action="/addTask" method="POST">
          <label for="tsk"></label>
          <input id="tsk" type="text" name="tsk" placeholder="Add task">
          <button id="add_btn">Add</button>
        </form>
        <div class="tassssk">
            <span id="task_created">task created</span>
            <button id="delet_btn">delet</button>
            <button id="done_btn">done</button>
        </div>
      </div>
      <div class="done_list">
        <h1>done list</h1><span>task done</span>
      </div>
    </div>
  </body>
</html>